:root {
  --green: rgb(102, 204, 51);
  --red: #cc3300;
  --white: #ffffff;
  --darkGrey: #333366;
  --black: #333333;
}
img {
  max-width: 100%;
}
.App {
  text-align: center;
}
/* Nav Bar */
.navBar {
  background-color: var(--green);
  padding: 0.8rem 2rem;
  font-weight: 600;
  font-size: 1.4rem;
}
.navBar a {
  color: var(--white);
}
.navBar a:hover {
  color: var(--darkGrey);
}
/* End Nav Bar */
/* Home Page */
.imgMe {
  display: block;
  margin: 1rem auto;
  height: 50vh;
}
.ImgFamily {
  display: block;
  margin: 1rem auto;
  width: 40vw;
}
.QuoteDiv {
  background-color: var(--green);
  color: var(--white);
  padding: 2rem;
  text-align: center;
}
/* End Home Page */
/* Search Page */
.ItemProp {
  font-weight: 800;
}
.btnRed {
  background-color: var(--red);
  color: var(--white);
  padding: 0.5rem;
  font-weight: 600;
  width: 10vw;
}
.searchItems {
  cursor: pointer;
  font-size: 1.3rem;
  color: var(--white);
  padding: 1rem;
  background-color: var(--green);
}
.activeItem {
  background-color: var(--red);
}
/* End Search Page */
